.signup{
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup h2{
    color: var(--blue);
font-family: Inter;
font-size: 120px;
font-style: normal;
font-weight: 800;
letter-spacing: 0.6px;
text-align: center;

}
form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
form div{
    display: flex;
    flex-direction: column;
}