.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__auth--checkbox {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  flex: 1 0 0;
}

.bottom__padding {
  padding-top: 12.81rem;
}
.form__input--section__password {
  position: relative;
}
.toggleBtn__login {
  position: absolute;
  left: 95%;
  top: 55%;
  outline: none;
  border: none;
  background: none;
}
