.delete__box {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin-top: -6rem !important;
  margin-left: -17.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.delete__confirmation {
  padding: 24px;
  background-color: var(--secondary-color);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.delete__confirmation--icon {
  padding-bottom: 12px;
}

.delete__confirmation h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5%;
  text-transform: capitalize;
}

.delete__confirmation--info {
  padding-bottom: 28px;
}

.delete__confirmation--info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.5%;
  text-align: center;
}

.delete__confirmation--button {
  display: flex;
  gap: 14px;
}
