.cateogries table {
  color: #21252b;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
th {
  padding: 1rem;
  text-align: left;
}

.cateogries tr {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-grey);
  padding: 1.09rem 0rem;
}

.cateogries thead tr {
  border-bottom: none;
}

.cateogries td {
  padding: 1.09rem 1rem;
}
/* .cateogries tr:last-child {
  border: none;
} */
.cateogries table th {
  background-color: #eff4fe;
  color: #657081;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.07px;
}
/* .cateogries table th:last-child {
  width: 0 !important;
} */
/* 
.cateogries table th:first-child {
  width: 0 !important;
} */

.cateogries table td:nth-child(2) {
  padding-right: 7rem;
}
ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ol li {
  padding: 1rem;
}
.icon-transition {
  transition: transform 0.3s ease-in-out; /* Adjust the duration and easing as needed */
}

.editable {
  transition: background-color 0.3s ease-in-out; /* Adjust the duration and easing as needed */
  background-color: lightyellow; /* Change the background color as desired */
}
.category__input {
  display: flex;
  position: relative;
}

.category__buttons {
  display: flex;
  justify-content: center;
}

.universal__update--form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: fit-content; */
}
/* .Universal__update--form input{
  width: 100%;
  transition: 0.2s all; 
} */
.universal__FormButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 20%;
  color: #fff;
  cursor: pointer;
}

.universal__input--container {
  width: 65%;
}
.universal-input__container--editable-padding {
  padding-right: 0 !important;
}
.universal__table--input {
  border: none;
  padding: 5px 20px 5px 0px;
  outline: none;
  font-size: 14px;
}

.universal__table--input input {
  width: 65%;
}

.universal__table--input:focus {
  outline: none !important;
}

.universal__table--input::placeholder {
  font-size: 14px;
}
.universal__td--border {
  border: 1px solid var(--blue);
  padding: 0 !important;
  width: 50%;
}

.universal__FormButton button {
  background-color: transparent;
  color: black;
  padding: 0 !important;
}

.universal__FormButton button:first-child {
  border-right: 1px solid var(--primary-color);
  border-radius: 0px;
  padding-right: 13px !important;
  color: var(--toast-success-border);
}

.universal__FormButton button:nth-child(2) {
  color: var(--red);
  padding-left: 13px !important;
  padding-right: 11px !important;
}

.subCategories__input__field__buttons {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

@media (max-width: 1440px) {
  .cateogries table {
    width: 500px;
  }
}

/* @media screen and (min-width: 850px) {
  .cateogries table {
    width: 100%;
  }
} */
