.button__style {
  /* button */
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  width: fit-content;
  /* text */
  color: var(--secondary-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.005rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.button__red {
  background-color: var(--red);
}

.button__blue {
  background-color: var(--blue);
}
