.procurement {
  padding: 0 1.38rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.procurement__header--form {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
}

.procurement__header {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.procurement__header h2 {
  color: var(--text-color);
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.625rem;
  letter-spacing: 0.00875rem;
}

.procurement__header p {
  color: var(--text-color);
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.125rem */
  letter-spacing: 0.00375rem;
}

.procurement__header span {
  color: var(--icon-grey);

  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 1.125rem */
  letter-spacing: 0.00375rem;
}

.procurement__employee--dets {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--primary-grey);
  gap: 2.81rem;
}

.procurement__form--input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.procurement__product {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-top: 1.25rem;
}

.procurement__product--list {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.procurement__product--list h3 {
  color: var(--Foundation-Grey-grey-900, #21252b);
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  /*  */
  letter-spacing: 0.0075rem;
}

.procurement__bottom--buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}

.procurement--button {
  border-radius: 0.3125rem;
  background: var(--blue);
  padding: 1rem;
  border: none;
  color: var(--secondary-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.005rem;
}

.procurement__error--button {
  border-radius: 0.3125rem;
  background: var(--red);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  /* 1.5rem */
  letter-spacing: 0.005rem;
  border: none;
  color: var(--secondary-color);
}

.edit__not--allowed:disabled {
  cursor: not-allowed;
}

.procurement--button-not__allowed:disabled {
  cursor: not-allowed;
  background-color: var(--primary-grey) !important;
  color: var(--text-color);
}

@media (width<=500px) {
  .procurement__employee--dets {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .procurement__request {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .procurement__form--input input {
    margin-bottom: 0;
  }

  .procurement__product--list {
    display: flex;
    flex-direction: column !important;
  }

  .procurement__product--list h3 {
    padding-bottom: 0.75rem;
  }
}
