.user__profile {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.user__profile--body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.user__profile--body p {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}

.user__profile--left {
  padding: 2.59rem 1.5rem 0;
}

.user__profile--image {
  display: flex;
  align-items: center;
  gap: 1.37rem;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 31.25rem;
  display: flex;
  justify-content: center;
  border: 1px solid var(--primary-grey);
}

.user__profile--image figure {
  padding-top: 2.06rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user__profile--image img {
  width: 11.0625rem;
  height: 11.0625rem;
  object-fit: cover;
  border-radius: 50%;
}

.profile__button--container {
  position: relative;
}

.profile__delete--button {
  padding: 0.5rem 0.56rem;
  border-radius: 1.9375rem;
  position: absolute;
  right: 1.28rem;
  bottom: 0.1rem;
}

.user__profile--file-disabled {
  display: flex;
  padding: 0.75rem 1.5rem;
  margin-top: 1.88rem;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  gap: 0.625rem;
  border-radius: 0.3125rem;
  background: var(--icon-grey);
  border: none;
}

.user__profile--image span {
  color: #b8bdc5;
  /* width: 15.4375rem; */
  text-align: center;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
  letter-spacing: 0.00375rem;
}

.user__profile--image p {
  padding: 5.81rem 0 0 0;
  margin-bottom: 1.37rem;
  display: flex;
  gap: 4px;
}

.user__profile--none[type="file"] {
  display: none;
}

.radio__label {
  display: flex;
  gap: 0.5rem;
}

.error-message {
  color: var(--red) !important;
  font-size: 14px !important;
}

/* .user__profile--form input {
  display: flex;
  padding: 1.09rem 1rem;
  align-items: center;
  width: 100%;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  background: var(--disabled-input);
} */

/* .user__profile--form button {
  width: 8.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.3125rem;
  background: var(--red);
  color: var(--secondary-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.005rem;
  margin-bottom: 1.87rem;
} */

.jobType {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox__input--label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.user__profile--btn {
  display: flex;
  gap: 1rem;
}

.user__profile--btn-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-btn-none {
  display: none;
}
.radio__label--checked {
  color: var(--blue) !important;
}
.dropzone_btn-none {
  display: none;
}
@media (width>1600px) {
  .user__profile--image {
    width: auto;
  }
}

@media (width<=1024px) {
  .user__profile--body {
    gap: 2rem;
  }

  .user__profile--image {
    width: 25rem;
  }
}

@media (width<= 850px) {
  .user__profile--body {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .user__profile--left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile__form {
    padding: 2rem;
  }
}

@media (width<= 500px) {
  .user__profile--body {
    gap: 1rem;
  }
  .user__profile--left {
    padding: 1.5rem 1.5rem 0;
  }
  .user__profile--image {
    padding: 0 2rem;
    width: fit-content;
  }
}

@media (width< 375px) {
  .user__profile--left {
    padding: 1.5rem 0.5rem 0;
  }
  .user__profile--image {
    padding: 0.5rem;
  }

  .profile__form {
    padding: 0.5rem;
  }
}
