.category{
padding: 22px 22px;
}
.category table{
    border-collapse:collapse ;
}
.category table
     th,td{
    padding: 1rem;
}
.category tr{
    background-color: var( --secondary-color);
    border-bottom: 1px solid black;
}
.category tr:last-child{
    border: none;
}
.category table th{
    text-align: left;
    background-color: #EFF4FE;
    border-radius: 0.5rem;
    color: #657081;
    font-size: 14px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.07px;

}

ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ol li {
    padding: 1rem;
}
.icon-transition {
    transition: transform 0.3s ease-in-out; /* Adjust the duration and easing as needed */
  }
  
  .editable {
    transition: background-color 0.3s ease-in-out; /* Adjust the duration and easing as needed */
    background-color: lightyellow; /* Change the background color as desired */
  }
