.rotate__dropdown {
  transform: rotate(180deg);
}
/* .Category__name__button__wrapper {
  padding-left: 3rem;
}
.Category__name__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.subCato {
  padding-left: 40px !important;
}
.universal2 {
  padding: 1.09rem 0rem !important;
}
.categorySubs {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.tableBottomBorder {
  border-bottom: 1px solid var(--primary-grey);
}
.tableNoBorder{
  border: none;
}
/* .flex__category {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  padding-left: 20rem !important;
  width: 100% !important ;
}

.subCategoryTr {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
} */
.table__desc.edit-open {
  padding: 0 !important;
  padding-left: 1rem !important;
}
.table__desc {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  padding-right: 0 !important;
  /* padding-left: 0 !important;
  padding-top: 0 !important; */
}

.flexItems {
  width: 100%;
  border-bottom: none !important;
  padding-top: 1rem;

  /* display: flex !important; */
}

.last-child {
  border-bottom: 1px solid var(--primary-grey) !important; /* Adjust the color and thickness as needed */
}

.subcategory__button {
  padding-left: -10px;
  /* padding-left: 0.5rem; */
}

.add__category--right {
  display: flex;
  justify-content: right;
}

.select-not-editable {
  border: none !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: var(--text-color) !important;
  background-color: transparent !important;
  padding: 9.5px 11px !important;
}
.data__empty {
  font-size: 40px;
  text-align: center;
  margin-top: 10px !important;
  color: var(--blue);
}
