.plans__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plans__top--right {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-grey);
  display: flex;
  gap: 0.25rem;
  width: fit-content;
}

.plans__top--right button {
  padding: 0.47rem 1rem;
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}

.plans__offer {
  padding: 1.81rem 1.56rem 2.19rem;
  display: flex;
  gap: 2.25rem;
  justify-content: space-between;
}

.plans__offer--content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.3125rem;
  border: 2px solid var(--primary-grey);
  padding: 1.5rem;
  transition: all 0.5s ease;
}

.plans__offer--content:hover {
  border: 2px solid var(--blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.plans__offer--content:nth-child(2) figure {
  display: flex;
  justify-content: space-between;
}

.plans__popular {
  display: flex;
  padding: 0.25rem 0.35rem;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 1.9375rem;
  background: var(--blue);
  color: var(--secondary-color);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}

.plans__offer--info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 1s;
}

.plans__offer--info div {
  display: flex;
  flex-direction: column;
}

.plans__offer--info p {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}

.plans__offer--info h3 {
  color: var(--text-color);
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 150%; /* 4.6875rem */
  letter-spacing: 0.01563rem;
}

.plans__offer--info span {
  color: var(--text-color);
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 150%; /* 1.40625rem */
  letter-spacing: 0.00469rem;
}

.plans__button--one,
.plans__button--two {
  width: 17.1875rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3125rem;
  border: none;
  color: var(--secondary-color);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}

.plans__button--one {
  background: var(--blue);
  margin-bottom: 0.75rem;
}

.plans__button--two {
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  background: transparent;
  color: var(--text-color);
}

.plans__offer--features h4 {
  color: var(--text-color);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 150%; /* 1.40625rem */
  letter-spacing: 0.00469rem;
}

.plans__offer-desc {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3125rem;
  letter-spacing: 0.00438rem;
}

.features__list {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.44rem;
}

.features__list p {
  display: flex;
  gap: 0.94rem;
  align-items: center;
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: 0.00438rem;
}

.features__list span {
  font-size: 1.5rem;
}

.plans__btn {
  border-radius: 0.25rem;
  background-color: var(--blue);
  color: var(--secondary-color);
  transition: background-color 1s ease;
}

.pricing__header--btn {
  display: flex;
  gap: 1.56rem;
}

.pricing__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.75rem;
  padding: 1.25rem 1.5rem 2.06rem 1.5rem;
  width: 100%;
}

.pricing__content--left {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-grey);
  background: var(--secondary-color);
  height: fit-content;
}

.pricing__form {
  padding-right: 0rem !important;
}

.basic__dets,
.payment__dets {
  background: transparent !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: 0.00438rem;
  border-radius: 0;
  padding: 0 0 0.44rem 0;
  cursor: default;
}

.basic__dets {
  color: var(--blue) !important;
  border-bottom: 3px solid var(--blue);
}

.payment__dets {
  color: var(--text-color);
  border-bottom: 3px solid var(--primary-grey);
}

.basic__dets--country {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.94rem;
}

.pricing__policy {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: 0.00438rem;
}

.pricing__policy span {
  color: var(--blue);
}

.pricing__flex--end {
  display: flex;
  justify-content: flex-end;
  padding-top: 6.12rem;
}

.pricing__button {
  display: flex;
  gap: 1rem;
}

.basic__dets--toggleBtn {
  margin: 1.13rem 0 1.25rem;
  width: 100%;
}

.basic__dets--toggleBtn button {
  width: 100%;
}

.pricing__content__left {
  padding: 1rem;
  background: var(--secondary-color);
  height: fit-content;
}

.payment__active {
  display: flex;
  gap: 1.94rem;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--main-background);
  cursor: pointer;
}

.pricing__payment {
  display: flex;
  gap: 1.94rem;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
}

.pricing__paypal {
  border-bottom: 1px solid var(--primary-grey);
}

.payment__left--title {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: 0.00438rem;
}

.credit__svg {
  padding: 0.94rem;
}

.paypal__svg {
  padding: 1.41rem 0.28rem;
}

.paypal__svg img {
  width: 3.0625rem;
  height: 0.8125rem;
}

.pricing__plans--border {
  border-radius: 0.5rem;
  border: 1px solid var(--primary-grey);
  padding: 0.81rem 1.31rem;
  margin-top: 5.16rem;
}

.pricing__feature {
  border-bottom: 1px solid var(--primary-grey);
  padding-bottom: 1.63rem;
}

.pricing__money {
  padding-top: 1.06rem;
}

.pricing__money h3,
.pricing__money h4 {
  color: var(--text-color);

  line-height: 150%; /* 1.40625rem */
  letter-spacing: 0.00469rem;
}

.pricing__money h3 {
  font-size: 0.9375rem;
  font-weight: 700;
}

.pricing__money h4 {
  font-size: 3.125rem;
  font-weight: 600;
  letter-spacing: 0.01563rem;
}

.pricing__money > h4 > span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: 0.00438rem;
}

.payment__dets--border {
  border-bottom: 1px solid var(--primary-grey);
  padding-bottom: 0.63rem;
}

.payment__pricing--top {
  padding-top: 0 !important;
}

.payment__pricing--top h4 {
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 150%; /* 3.1875rem */
  letter-spacing: 0.01063rem;
}

.card__types--title {
  padding: 0.75rem 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  background: #f9f9f9;
}

.card__types--image {
  display: flex;
  gap: 0.5rem;
}

.card__types--figure {
  width: 3.375rem;
  height: 2.0625rem;
  padding: 0.44rem 0.37rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  background: var(--secondary-color);
}

.card__types--figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__types--figure:nth-child(4) {
  border: 1px solid #006cb7;
  background: #006cb7;
}

.card__warning {
  color: #b8bdc5;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
  letter-spacing: 0.00375rem;
}

.paypal__section {
  width: 100%;
}

.paypal__section--top {
  display: flex;
  justify-content: center;
}

.paypal__section--image {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
  align-items: center;
}

.paypal__section--image img {
  width: 7rem;
  height: 1.875rem;
}

.paypal__section--title {
  color: var(--text-color);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.00625rem;
}

.paypal__button {
  width: 100%;
}

.paypal__ques {
  color: var(--text-color);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: 0.00438rem;
}

@media (width>1600px) {
  .plans__offer {
    justify-content: center;
    gap: 5rem;
  }
}

@media (width<=1024px) {
  .plans__offer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .basic__dets--country {
    grid-template-columns: 1fr;
  }

  .pricing__flex--end {
    padding-top: 3rem;
  }
}

@media (width<=850px) {
  .plans__flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }

  .plans__offer {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  .plans__offer--content {
    height: fit-content;
  }

  .plans__offer--content:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }

  .plans__offer--info div .link {
    width: 100%;
  }

  .plans__offer--info:nth-child(2) p {
    width: 12rem;
  }

  .plans__button--one,
  .plans__button--two {
    width: 100%;
  }

  .pricing__content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .pricing__flex--end {
    padding-top: 3rem;
  }

  .payment__left {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .pricing__plans--border {
    margin-top: 0;
  }

  .basic__dets--country {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width<=500px) {
  .pricing__content {
    padding: 1rem;
  }
  .plans__flex {
    grid-template-columns: 1fr;
    justify-items: baseline;
  }

  .plans__offer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .pricing__content__left {
    padding: 0;
  }

  .pricing__money h4 {
    font-size: 2.125rem;
  }

  .basic__dets--country {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .pricing__content--right .group__form {
    padding-right: 0;
  }

  .card__types--title {
    padding: 0.5rem 0.5rem;
  }

  .card__types--image {
    flex-wrap: wrap;
  }
}
