.filter {
  padding: 1.63rem 1.25rem 2.5rem 1.31rem;
  border-left: 1px solid var(--primary-grey);
  background: var(--secondary-color);
  width: 22.75rem;
  height: calc(100vh - 5.52rem);
  max-height: calc(100vh - 5.52rem);
  flex-shrink: 0;
  top: 5.52rem;
  position: fixed;
  right: 0;
  animation-duration: 0.5s;
  overflow-y: scroll;
  z-index: 115;
}

.filter__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 111;
  margin-left: -17.5rem;
  margin-top: -6rem;
  /* background-color: red; */
}

.filter::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 15px;
}

/* .filter.open {
  animation-name: slideIn;
} */

/* @keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */

/* .filter.temp-style {
  display: block !important;
} */

.filter__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.75rem;
}

.filter__heading h3 {
  color: var(--text-color);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.00625rem;
}

.filter__hide {
  cursor: pointer;
}

.filter__heading--icon {
  font-size: 1.1rem;
}
.filter__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.filter__gap {
  gap: 2.5rem;
  padding-right: 0;
  justify-content: space-between;
}

.filter__button {
  width: 100%;
  padding: 2rem 0;
}

.filter__button--flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* .filter--visible {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.filter--hidden {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
} */

@media screen and (max-width: 1024px) {
  .filter__container {
    margin-left: -7rem !important;
  }
}

@media screen and (max-width: 500px) {
  .filter__container {
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 400px) {
  .filter {
    width: 19rem !important;
    padding: 1rem;
  }
  .filter__container {
    margin-left: 0;
  }
  .filter__button--flex {
    gap: 1rem;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 350px) {
  .filter {
    width: 17rem !important;
    padding: 0.8rem;
  }
}
