.input-disabled {
  padding: 1.09rem 1rem;
  width: 100%;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  background: var(--disabled-input);
}

.input__error {
  outline: 1px solid var(--red) !important;
}

.input__error:focus {
  outline: 1px solid var(--red) !important;
}

.input__radio {
  outline: none;
}

select {
  padding: 1.02rem 1rem;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
}

.select__error {
  outline: 1px solid var(--red);
}

.select__option {
  padding: 0;
}

.input-enabled {
  padding: 1.09rem 1rem;
  width: 100%;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  background: var(--secondary-color);
  font-size: 14px;
  color: var(--text-color) !important;
  /* color: #999 !important; */
  /* outline: none; */
}

.select__enabled {
  background-color: var(--secondary-color);
}

.select__disabled {
  cursor: not-allowed;
  background-color: var(--primary-grey) !important;
  color: var(--text-color);
}

.input__field {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input__field--radio {
  position: relative;
}

.toggle__showHide--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-toggle-button {
  position: absolute;
  right: 2%;
}

.input__field--radio p {
  width: 4rem;
}

.error-message {
  color: var(--red) !important;
  font-size: 14px;
}

.input__notEditable {
  border: none !important;
  padding: 0 0 0 5px !important;
}

.input__editable {
  padding: 8px;
}
