.input-disabled {
  padding: 1.09rem 1rem;
  width: 100%;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  background: var(--disabled-input);
}

.input__error {
  outline: 1px solid var(--red);
}

.input__radio {
  outline: none;
}

select {
  padding: 1.09rem 1rem;
  gap: 1rem;
  border-radius: 0.3125rem;
}

.select__error {
  outline: 1px solid var(--red);
}

.select__option {
  padding: 0;
}

.input-enabled {
  padding: 1.09rem 1rem;
  width: 100%;
  gap: 1rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  background: var(--secondary-color);
  /* outline: none; */
}

.select__enabled {
  background-color: var(--secondary-color);
}

.select__disabled {
  background-color: var(--disabled-input);
  color: var(--text-color);
}

.input__field {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input__field--radio p {
  width: 4rem;
}

.error-message {
  color: var(--red) !important;
}
