.repair {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.repair__header {
  display: flex;
  justify-content: space-between;
}

.repair__content {
  padding: 0 1.38rem 1.25rem;
}

.repair__navigation {
  display: flex;
  justify-content: start;
  padding: 0.625rem;
  gap: 1.12rem;
  border-bottom: 1px solid var(--primary-grey);
}


.assets__navigation--btn {
  border-bottom: 2px solid #527dd0;
}

@media (width<=350px) {
  .repair__header button{
    font-size: 0.85rem;
  }
}
