.repair {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.repair__header {
  display: flex;
  justify-content: space-between;
}

.repair__content {
  padding: 0 1.38rem 1.25rem;
}

.repair__navigation {
  display: flex;
  justify-content: start;
  padding: 0.625rem;
  gap: 1.12rem;
  border-bottom: 1px solid var(--primary-grey);
}

.repair__filter {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}
.repair__filter input {
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  padding: 1.09rem 1rem;
  margin-bottom: 1.5rem;
}
.repair__filter__button {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: var(--blue);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}
.repair__navigation button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.005rem;
  cursor: pointer;
}

.assets__navigation--btn {
  border-bottom: 2px solid #527dd0;
}
