.sidebar {
  padding: 1.37rem 1.5rem;
  background-color: var(--secondary-color);
  border-right: 1px solid var(--primary-grey);
  width: 17.5rem;
  z-index: 1;
  position: fixed;
  height: 100%;
  overflow-y: hidden;
}

.sidebar:hover {
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
  height: 1rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 15px;
}

.sidebar__title {
  padding: 0 1rem;
}

.sidebar__heading {
  color: var(--blue);
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0.01563rem;
}

.sidebar__subheading {
  color: var(--subheading);
  margin-top: -1rem;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.0025rem;
}

.sidebar__toggle {
  display: none;
}

.sidebar__toggle .arrow {
  transform: rotate(180deg);
  /* transition: all 0.4s ease-in-out; */
}
/* 
.arrow__close {
  transition: all 0.4s ease-in-out;
} */

.navbar__title {
  padding: 0.47rem 1.25rem;
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.00438rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

#top__title {
  margin-top: 1.36rem;
}

.navbar__link--active span,
.link span {
  font-size: 1.25rem;
}

.link:first-child span svg {
  stroke: var(--text-color);
}

.navbar__link--active:first-child span svg {
  stroke: var(--blue);
}

.link span svg {
  fill: var(--text-color);
}

.navbar__link--active span svg {
  fill: var(--blue);
}

.navbar__list {
  text-decoration: none;
  list-style-type: none;
  transition: all 0.5s;
}

.navbar__list li {
  padding: 1rem 1.25rem;
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: 0.00438rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.navbar__list NavLink {
  transition: all 0.5s;
}

.plans {
  background-image: url("/src/assets/plans.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: fit-content;
  padding: 1rem 1.25rem 1.25rem;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--secondary-color);
  margin: 1.75rem 0 0.67rem 0;
}

.plans p {
  color: var(--secondary-color);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.00438rem;
}

.plans span {
  color: var(--secondary-color);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.00375rem;
}

.plans__link {
  text-decoration: none;
}

.plans__button {
  width: 12rem !important;
  color: var(--blue) !important;
  background: var(--secondary-color);
}

@media (width<=1024px) {
  .sidebar__res {
    padding: 1.37rem 0;
    width: fit-content;
    width: 7rem;
  }

  .sidebar__title {
    text-align: center;
    padding: 0 0.2rem;
  }

  .sidebar__heading {
    font-size: 2rem;
  }

  .sidebar__subheading {
    /* font-size: 0.5rem;*/
    display: block;
    margin-top: -0.8rem;
  }

  .sidebar__res .sidebar__subheading {
    display: none;
  }

  .sidebar__toggle {
    display: inline;
    position: absolute;
    top: 3rem;
    left: 2.3rem;
    font-size: 1.5rem;
    padding: 1rem 0.1rem;
  }

  .sidebar__toggle--extended {
    left: 14.5rem;
    top: 4.95rem;
  }

  .hamburger__none {
    display: none;
  }

  .sidebar__res .top__list,
  .sidebar__res .bottom__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .sidebar__res .navbar__title {
    padding-bottom: 1rem;
  } */

  .navbar__list--point p {
    transition: all 0.5s;
  }

  .navbar__list--toggle p {
    display: none;
  }

  .sidebar__res .plans {
    display: none;
  }
}
