.main__table {
  color: #21252b;
  border-collapse: collapse;
  /* width: 100%; */
  font-size: 14px;
  width: 1120px;
}

.main__table th,
.main__table td {
  padding: 1rem;
}

.main__table thead tr {
  border-bottom: none;
}

.main__table tr {
  border-bottom: 1px solid var(--primary-grey);
}

.main__table th {
  text-align: left;
  background-color: #eff4fe;
  color: #657081;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.07px;
  text-transform: capitalize;
}
.table__container {
  overflow-x: scroll;
}

.loader {
  z-index: 30;
  text-align: center;
  background-color: #f00;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: relative;
}
.hoverEffect {
  position: relative;
  font-family: sans-serif;
  width: 200px;
  color: #000;
  cursor: pointer; /* Set cursor to pointer */
  font-size: 14px;
}

.hoverEffect::before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--blue);
  bottom: 42px;
  left: 25%;
  transform: translateX(-50%);
  display: none;
}
.hoverEffect::after {
  content: attr(data-name);
  position: absolute;
  background-color: var(--blue);
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  bottom: 50px;
  left: 25px;
  z-index: 1;
  display: none; /* Initially hidden */
}

.hoverEffect:hover::before,
.hoverEffect:hover::after {
  display: block;
}

/* @media (width <= 1110px) {
  .table__container {
    overflow-x: scroll;
  }
} */

@media (max-width: 650px) {
  .main__table th {
    display: none;
  }
  .main__table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  .main__table td {
    display: grid;
    grid-template-columns: 15ch auto;
  }

  .main__table td::before {
    content: attr(data-cell) ":";
    font-weight: 500;
    text-transform: capitalize;
  }

  .main__table td:last-child::before {
    content: "";
  }

  .button-gap {
    display: flex !important;
  }

  .button-gap::before {
    content: "";
    display: none !important;
  }
}
