.main__table {
  color: #21252b;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.main__table th,
.main__table td {
  padding: 1rem;
}

.main__table th {
  text-align: left;
  background-color: #eff4fe;
  color: #657081;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.07px;
}

.loader {
  z-index: 30;
  text-align: center;
  background-color: #f00;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: relative;
}

@media (width < 1024px) {
  .table__container {
    overflow-x: scroll;
  }
}
