.employees {
  display: flex;
  flex-direction: column;
}

.employees__top {
  display: flex;
  justify-content: space-between;
}

.employees__table {
  padding: 1.56rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.employees__table--top {
  display: flex;
  justify-content: space-between;
}

.toggleBtn__email__parent {
  position: relative;
}

.toggleBtn__email {
  /* position: absolute; */
  outline: none;
  border: none;
  background: none;
}

.table__heading__row th {
  text-align: center;
}
