.employees {
  display: flex;
  flex-direction: column;
}

.employees__top {
  display: flex;
  justify-content: space-between;
}

.employees__table {
  padding: 1.56rem;
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;
  /* gap: 1.25rem; */
}

.employees__table--top {
  display: flex;
  justify-content: space-between;
}

.toggleBtn__email__parent {
  position: relative;
}

.toggleBtn__email {
  /* position: absolute; */
  outline: none;
  border: none;
  background: none;
}

.table__heading__row th {
  text-align: center;
}

.view-profile__select:disabled {
  background-color: var(--primary-grey);
}
.date__created {
  display: flex;
  padding: 5.81rem 0 0 0;
  margin-bottom: 1.37rem;
  gap: 4px;
}

.date__created div {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}

.upload__btn--removed__margin {
  margin: 0 !important;
}

/* .text--color--select {
  color: var(--text-color) !important;
 opacity: 0.8; 
} */

select:disabled {
  color: var(--text-color) !important;
  opacity: 0.8 !important;
  background: var(--disabled-input);
}

