.employees {
  display: flex;
  flex-direction: column;
}

.employees__top {
  display: flex;
  justify-content: space-between;
}

.employees__table {
  padding: 1.56rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.employees__table--top {
  display: flex;
  justify-content: space-between;
}
