.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: var(--red);
}

.retype__error {
  color: var(--red);
}

.form__input--section__password {
  position: relative;
}
.toggleBtn__signUp {
  outline: none;
  border: none;
  background: none;
}

.retype-password--showHide--btn {
  position: absolute;
  right: 2%;
}

.toggleBtn__signUp__retype__password {
  outline: none;
  border: none;
  background: none;
}
