.main-container {
  max-width: calc(1440px + 30px);
  margin: 0 auto;
  padding: 0 15px;
}

.user__auth{
  width: 720px;
height: 1024px;
flex-shrink: 0;
}
.user__auth__content{
 padding:0px 120px ;
}

.user__auth--top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__auth--heading {
  color: var(--blue);
  text-align: center;
  font-family: Inter;
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 11.25rem */
  letter-spacing: 0.0375rem;
}

.user__auth--para {
  color: #292d32;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  letter-spacing: 0.00563rem;
  margin-top: -2.69rem;
}

.user__auth--form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

.user__auth--title {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.0125rem;
}

.user__auth--input {
  display: flex;
  flex-direction: column;
}

.user__auth--input label {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00438rem;
  margin-bottom: 0.5rem;
}

.user__auth--input input {
  border-radius: 0.3125rem;
  border: 1px solid var(--primary-grey);
  padding: 1.09rem 1rem;
  margin-bottom: 1.5rem;
}

.user__auth--button {
  border-radius: 0.3125rem;
  background: var(--blue);
  padding: 1rem 0;
  outline: none;
  border: none;
  color: var(--secondary-color);
  color: var(--Netral-White, #fff);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.005rem;
}

.user__auth--ques {
  display: flex;
  padding: 0.81rem 0px;
  gap: 0.25rem;
  justify-content: center;
}

.user__auth--ques p {
  color: var(--light-grey);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}

.user__auth--ques span {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}
.user__auth--bottom {
  padding: 4.87rem 0;
  color: var(--light-grey);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.00438rem;
  text-align: center;
}

.user__auth--bottom a {
  color: var(--light-grey);
}
