@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --primary-grey: #e9eaec;
  --main-background: #eff4fe;
  --blue: #527dd0;
  --red: #e03137;
  --text-color: #21252b;
  --light-text: #848d9a;
  --toast-success: #e4f8ef;
  --toast-error: #ffe2e3;
  --toast-error-border: #e03137;
  --toast-success-border: #0caf60;
  --light-grey: #657081;
  --subheading: #292d32;
  --icon-grey: #989fab;
  --disabled-input: #ededed;
  --edit-button: #8c62ff;
  --edit-background: #f4efff;
  --delete-background: #fee9f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--main-background);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 15px;
}

.layout {
  display: flex;
  width: 100%;
}

.main-content {
  margin-top: 6rem;
  margin-left: 17.5rem;
  width: 100%;
}

.content-wrapper {
  padding: 2rem;
  width: 100%;
}

.content-radius {
  border-radius: 1rem;
  background: var(--secondary-color);
}

.content__header {
  padding: 1.25rem 1.38rem 0.62rem;
}

.content__header h2 {
  color: var(--text-color);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.00875rem;
}

.content__header span {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00438rem;
}

@media (width<=1024px) {
  .content-wrapper {
    padding: 1rem;
  }
  .main-content {
    width: calc(100% - 7rem);
    margin-left: 7rem;
  }
}

@media (width<=500px) {
  .main-content {
    width: 100%;
    margin-left: 0;
  }

  .content__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
