@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --primary-grey: #e9eaec;
  --main-background: #eff4fe;
  --blue: #527dd0;
  --red: #e03137;
  --text-color: #21252b;
  --light-text: #848d9a;
  --toast-success: #e4f8ef;
  --toast-error: #ffe2e3;
  --toast-error-border: #e03137;
  --toast-success-border: #0caf60;
  --light-grey: #657081;
  --subheading: #292d32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--main-background);
}
